body {
    background-image:url('../img/..');
}

h1 {
    color: white;
    font-size: 33px;
}
p {
    color: white;
}

.wrapper {
    background-color: black;
}

.nav {
    list-style: none;
    padding: 0%;
}
.nav li {
    display: inline;
}




